<form action="" class="p-5 shadow border" [formGroup]="ContactForm">

<input type="text" placeholder="title" class="form-control mb-3" formControlName="title" minlength="5" required>
 
<small class="text-danger" *ngIf="title && title.touched && title.invalid &&  title.errors?.required">
   მოცემული ველი სავალდებულია
</small>

<small class="text-danger" *ngIf="title && title.touched && title.invalid &&  title.errors?.minlength">
   შეიყვანეთ მინიმუმ 5 სიმბოლო
 </small>

<input type="email" placeholder="email" class="form-control mb-3" formControlName="email" required>

<textarea class="form-control mb-3" formControlName="text" role="7" placeholder="text"></textarea>


<button class="btn btn-danger" (click)="getData()">გაგზავნა</button>

</form>